.board-panel {
    height: 100%;
    width: 240px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    padding-left: 10px;
}

.board-panel ul {
    list-style-type: none;
    padding: 0px;
}

.board-view-container {
    margin-left: 240px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.board-filter-input {
    margin-bottom: 10px;
}
