.card-container {
    border-style: solid;
    border-width: 2px;
    width: 300px;
    padding: 10px;
}

.card-container-selected {
    border-color: red;
}

.card-text {
    font-size: 12pt;
}

.card-tag-list {
}

.card-tag {
}

.card-new-tag-label {
    color: #808080;
}
