.card-full {
    /* Stay in place */
    position: fixed;
    /* Sit on top */
    z-index: 1;

    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;

    /* Enable scroll if needed */
    overflow: auto;
}

.card-full-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin: auto;
    width: 80%;
    height: 80%;

    padding: 10px;
    background-color: #fff;
    border-style: solid;
    border-width: 4px;
    border-color: #000;
}

.card-full-text_static--active,
.card-full-text_textarea--active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
}

.card-full-text_static--active {
  cursor: pointer;
}

.card-full-text_static--hidden,
.card-full-text_textarea--hidden {
  display: none;
}

.card-full-text_textarea--active {
  text-align: left;
  width: 100%;
  height: 100%;
}
