.markdown-inline-input_copy--active,
.markdown-inline-input_textarea--active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px dashed #666666;
}

.markdown-inline-input_copy--active {
  cursor: pointer;
}

.markdown-inline-input_copy--hidden,
.markdown-inline-input_textarea--hidden {
  display: none;
}

.markdown-inline-input_textarea--active {
  border-bottom: 1px solid #666666;
  text-align: left;
}
